<h1>Activity Form</h1>

<%= form_with scope: :activity, local: true do |form| %>
<p>
  <%= form.label :name %><br>
  <%= form.text_field :title%>
</p>
<p>
  <%= form.label :"What activity did you just complete?" %><br>
  <%= radio_button_tag(:activity, "practice")%>
  <%= label_tag(:activity_practice, "Practice")%><br>
  <%= radio_button_tag(:activity, "match")%>
  <%= label_tag(:activity_match, "Match")%><br>
  <%= radio_button_tag(:activity, "weights")%>
  <%= label_tag(:activity_weights, "Weights")%><br>
  <%= radio_button_tag(:activity, "captains")%>
  <%= label_tag(:activity_captains, "Captain's Practice")%><br>
</p>
<p>
  <%= form.label :"Using the following scale, please rate your perceived exertion in the activity designated in Question 2." %><br>
  <%= radio_button_tag(:exertion, "exertion_1")%>
  <%= label_tag(:exertion_1, "1")%><br>
  <%= radio_button_tag(:exertion, "exertion_2")%>
  <%= label_tag(:exertion_2, "2")%><br>
  <%= radio_button_tag(:exertion, "exertion_3")%>
  <%= label_tag(:exertion_3, "3")%><br>
  <%= radio_button_tag(:exertion, "exertion_4")%>
  <%= label_tag(:exertion_4, "4")%><br>
  <%= radio_button_tag(:exertion, "exertion_5")%>
  <%= label_tag(:exertion_5, "5")%><br>
  <%= radio_button_tag(:exertion, "exertion_6")%>
  <%= label_tag(:exertion_6, "6")%><br>
  <%= radio_button_tag(:exertion, "exertion_7")%>
  <%= label_tag(:exertion_7, "7")%><br>
  <%= radio_button_tag(:exertion, "exertion_8")%>
  <%= label_tag(:exertion_8, "8")%><br>
  <%= radio_button_tag(:exertion, "exertion_9")%>
  <%= label_tag(:exertion_9, "9")%><br>
  <%= radio_button_tag(:exertion, "exertion_10")%>
  <%= label_tag(:exertion_10, "10")%><br>
</p>
<p>
    <%= form.submit %>
</p>
<% end %>
